#home-page {
    position: relative;

    #main-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 3%;
        position: relative;
        height: auto;
        width: calc(100vw - 420px);
        margin: 0 auto;
        
        #posts-section {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 67%;
            padding: 1.75rem 0;
            row-gap: 1rem;
        }

        #location-section {
            height: auto;
            width: 30%;
        }
    }

}