@font-face {
  font-family: Fira;
  src: url('../../../src/FiraCode/static/FiraCode-Regular.ttf');
}

body {
  margin: 0;
  font-family: Fira;
  font-size: 1.2rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }
}

