@font-face {
    font-family: ibm;
    src: url('./assets/ibm-plex/IBMPlexSans-Regular.ttf');
}

* {
    box-sizing: border-box;
}

:root {
    --g1: #000d47;
    --g11: #00136a;
    --g2: #b07600;
    --g22: #cc8800;
}

body {
    margin: 0;
    font-family: ibm;
}

input {
    font-family: ibm;
}

::placeholder {
    font-family: ibm;
    font-weight: 600;
    color: #505050;
}

@media screen and (max-width: 380px) {
    html {
        font-size: 62.5%;
    }

}