@font-face {
    font-family: ibm;
    src: url('./assets/inter/Inter-Regular.ttf');
}

* {
    box-sizing: border-box;
}

:root {
    --g1: #023047;
    --g11: #003955;
    --g2: #fb8500;
    --g22: #ff941a;
}

body {
    margin: 0;
    font-family: ibm;
}

input {
    font-family: ibm;
}

::placeholder {
    font-family: ibm;
    font-weight: 600;
    color: #505050;
}

@media screen and (max-width: 380px) {
    html {
        font-size: 62.5%;
    }

}